@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
$enable-negative-margins: true;

:root {
    --primary-color: #0d0a37;
    --secondary-color: #ff630e;
}

html {
    // font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;  
}

.form-control.is-invalid:focus,
.form-control:focus {
    box-shadow: none;
}