.navbar {
  position: sticky;
  top: 0;
  z-index: 9;
  background: #ffff;
}

.brand-logo {
  width: 10rem;
}

.cart-image {
  margin-right: 8.3rem;
  width: 6rem;
}

.banner > h1 {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 3rem;
  margin: 0;
}

.blur {
  background-color: var(--primary-color);
}

.banner__image {
  height: 24rem;
  object-fit: cover;
  width: 100%;
}

.banner::before {
  background-color: var(--primary-color);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.8;
}

.badge {
  left: 65px;
  top: 10px;
  background: var(--secondary-color);
}

.phone,
.mail {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 576px) and (max-width: 768px) {
  .search {
    width: 100%;
  }
  .search-sm {
    display: block!important;
  } 
}

@media (min-width: 768px) and (max-width: 992px) {
  .cart-image {
    display: none;
  }
}

@media (width: 768px) {
  .search {
    display: none!important;
  } 
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .brand-logo {
    margin-left: 5rem;
  }

  .cart-image {
    margin-right: 0.3rem !important;
  }

  .mail {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cart-image {
    margin-right: 0.3rem !important;
  }

  .nav-item {
    font-size: 0.8rem;
  }

  .brand-logo {
    margin-left: 0rem;
  }
}
